@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Quicksand:wght@300&family=Ubuntu:wght@300&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background: #06060a;
}
/* ---------- Header ---------- */
header {
  display: flex;
  justify-content: space-between;
  padding: 0px 100px;
  align-items: center;
  box-shadow: 0px 1px 100px #3dc21b;
  background: rgba(0, 0, 0, 0.9);
  position: sticky;
  top: 0;
  z-index: 100;
  height: 8vh;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo h5{
  color: #3dc21b;
  font-family: 'ubuntu';
  font-size: 20px;
}
.logo p {
  color: #fff;
  font-family: 'open sans';
  font-size: 10px;
}
header ul {
  display: flex;
  list-style: none;
  gap: 25px;
}
header ul li a {
  text-decoration: none;
  color: #3dc21b;
}
header ul li a:hover {
  color: #ff4a67;
  text-shadow: 0px 5px 10px #ff4a67;
}
.myButton {
  background: none;
	border-radius:10px;
	border:2px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 10px;
	padding: 10px 20px;
	text-decoration: none;
}
.myButton:hover {
  background: #18ab29;
	border:2px solid #39c949;
  box-shadow: 0px 1px 25px 0px #3dc21b;
}
/* ---------- Container 0 ---------- */
.cnt0 
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 50px 100px;
}
.cnt0_abt{
  width: 100vh;
  height: auto;
}
.cnt0_abt h5 {
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 3px;
  font-family: 'quicksand';
  color: #ff4a67;
}
.cnt0_abt h3 {
  font-family: 'open sans';
  font-size: 40px;
  color: #3dc21b;
}
.cnt0_date {
  font-size: 12px;
  font-family: sans-serif;
  color: #ff4a67;
}
.cnt0_abt_text {
  font-size: 15px;
  font-family: 'ubuntu';
  padding-top: 20px;
  text-align: justify;
  color: #fff;
}
/* ---------- Container 1 ---------- */
.cnt1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: relative; */
  padding: 50px 100px;
}
.cnt1 h3 {
  align-self: flex-start;
  font-family: 'open sans';
  font-size: 40px;
  color: #3dc21b;
}
.cnt1_cards {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.cnt1_card {
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
  height: 170px;
  width: 250px;
  margin: 20px;
  padding: 7px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}
.cnt1_card:hover {
  border: 1px solid #3dc21b;
  background: #3dc21b;
  box-shadow: 0px 1px 25px 0px #3dc21b;
}
.cnt1_card:hover h5 {
  color: #00000080;
}
.cnt1_card h5 {
  font-family: 'quicksand';
  font-size: 15px;
  color: #3dc21b;
}
.cnt1_card p {
  font-family: 'ubuntu';
  font-size: 13px;
  padding: 5px 8px;
}
.cnt1_card a {
  font-family: 'open sans';
  color: #ff4a67;
  text-decoration: none;
  font-size: 13px;
  padding-left: 5px;
}
/* ---------- Container 2 ---------- */
.cnt2 {
  display: flex;
  flex-direction: column;
  padding: 50px 100px;
}
#cnt2_h4 {
  align-self: flex-start;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 3px;
  font-family: 'quicksand';
  color: #ff4a67;
}
#cnt2_p {
  align-self: flex-start;
  font-family: 'open sans';
  font-size: 40px;
  color: #3dc21b;
}
.event-list {
  margin-top: 1;
  display: flex;
}
.date {
  color: #f28500;
  font-family: 'ubuntu';
  padding: 10px;
  border: 1px  solid #fff;
  border-radius: 5px 5px 0px 0px ;
  cursor: pointer;
}
.timetable {
  display: none;
  padding: 15px;
  border: 1px solid #fff;
  border-radius: 0px 10px 10px 10px;
}
.topic_ul li {
  font-family: 'ubuntu';
  font-size: 15px;
  margin-left: 15px;
  color: #fff;
}
.events {
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.events h3 {
  font-family: 'quicksand';
  letter-spacing: 2px;
  font-size: 17px;
  color: #ff4a67;
}
.events p {
  font-family: 'ubuntu';
  font-size: 15px;
  padding-left: 5px;
  padding-bottom: 3px;
  color: #fff;
}
.events h4 {
  font-family: 'open sans';
  color: #3dc21b;
}
.events hr {
  width: 80px;
  margin-bottom: 5px;
}
.events_p {
  font-size: 12px !important;
  padding-left: 0px !important;
}
.event1_topics, .event2_topics, .event3_topics, .event4_topics, .event5_topics{
  margin-left: 10px;
}